* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'sans, monospace';
}
section {
  background-color: blue;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  background-color: rgb(35, 40, 41);
  border-radius: 0px;
  overflow: auto;
  text-shadow: dimgrey;
}
.display {
  background-color: rgb(252, 250, 250);
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
}
.display-1 {
  opacity: 0.8;
  font-size: 20px;
  height: 20px;
  overflow: visible;
}

